In [3]:
import pandas as pd
from os import path

In [4]:
df = pd.read_csv(path.join("real_data.txt"), sep="\t")

In [8]:
df.head()

,id_ruta,largo [m],ancho [m],diferencia altura [m],pendiente,calidad,luz,capacidad,area,nombre_ruta,comentarios_adicionales,autor
0,1,"590,0000",3,25,"0,042372881",mala,no,3540,1770,Hospital naval,-,gonza
1,2,"524,0000",3,44,"0,083969466",mala,no,3144,1572,PENDIENTE,-,gonza
2,3,"530,0000",3,44,"0,083018868",mala,no,3180,1590,marinero ugarte,-,gonza
3,4,"562,0000",10,55,"0,097864769",mala,no,11240,5620,19 Norte,-,Mart�n
4,5,"500,0000",6,28,"0,056",Media,Media,6000,3000,18 Norte,-,Mart�n

In [11]:
pd.to_numeric(df["largo [m]"])

ValueError: Unable to parse string "590,0000" at position 0